/pWord4/pWordLib/bin
/pWord4/pWordLib/obj
/pWord4/pWord4/pWord4/bin
/pWord4/pWord4/pWord4/obj
/pWord4/pword/bin
/pWord4/pword/obj
/pWord4/LeftRight/bin
/pWord4/LeftRight/obj
/pWord4/pWord4/PlaygroundAlpha/bin/Debug/net5.0
/pWord4/pWord4/PlaygroundAlpha/obj
/pWord4/pWord4/.vs/pWord4/DesignTimeBuild
/pWord4/pWord4/*.suo
/pWord4/pWord4/.vs/pWord4/v16/*.suo
/pWord4/pword/.vs
/pWord4/pWord4/.vs
/pWord4/pWord4/PnodeDataProvider/obj
/pWord4/pWord4/PnodeDataProvider/bin
/pWord4/pWord4/pWordSetup/bin
/pWord4/pWord4/pWordSetup/obj
/pWord4/pWord4/PlaygroundAlpha/bin
/pWord4/pWordWixSetup/bin
/pWord4/pWordWixSetup/obj
