/pWord4/pWordLib/bin
/pWord4/pWordLib/obj
/pWord4/pWord4/pWord4/bin
/pWord4/pWord4/pWord4/obj
/pWord4/pword/bin
/pWord4/pword/obj
/pWord4/LeftRight/bin
/pWord4/LeftRight/obj
/pWord4/pWord4/.vs/pWord4/DesignTimeBuild/.dtbcache.v2
/pWord4/pWord4/PlaygroundAlpha/bin/Debug/net5.0
/pWord4/pWord4/PlaygroundAlpha/obj/Debug/net5.0
/pWord4/pWord4/PlaygroundAlpha/obj
