<?xml version="1.0"?>
<configuration>
	<appSettings>
		<!--   User application and configured property settings go here.-->
		<!--   Example: <add key="settingName" value="settingValue"/> -->
		<add key="columnHeader1.Text" value="ColumnHeader" />
		<add key="toolBarButton1.Enabled" value="True" />
		<add key="toolBarButton1.ImageIndex" value="1" />
		<add key="toolBarButton1.Pushed" value="False" />
		<add key="pWord.Enabled" value="True" />
		<add key="pWord.TopMost" value="True" />
		<add key="txtValue.AcceptsReturn" value="True" />
		<add key="txtValue.AcceptsTab" value="True" />
		<add key="txtValue.AllowDrop" value="True" />
		<add key="txtValue.Multiline" value="True" />
		<add key="txtValue.Enabled" value="True" />
		<add key="treeView1.Scrollable" value="True" />
	</appSettings>
	<startup>
	<supportedRuntime version="v1.1.4322" />
	<requiredRuntime version="v1.1.4322" safemode="true" /></startup></configuration>
