<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="myPword.pWordSettings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="myPword.pWordSettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <appSettings>
    <!--   User application and configured property settings go here.-->
    <!--   Example: <add key="settingName" value="settingValue"/> -->
    <add key="columnHeader1.Text" value="ColumnHeader" />
    <add key="toolBarButton1.Enabled" value="True" />
    <add key="toolBarButton1.ImageIndex" value="1" />
    <add key="toolBarButton1.Pushed" value="False" />
    <add key="pWord.Enabled" value="True" />
    <add key="pWord.TopMost" value="True" />
    <add key="txtValue.AcceptsReturn" value="True" />
    <add key="txtValue.AcceptsTab" value="True" />
    <add key="txtValue.AllowDrop" value="True" />
    <add key="txtValue.Multiline" value="True" />
    <add key="txtValue.Enabled" value="True" />
    <add key="treeView1.Scrollable" value="True" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
  </startup>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager enabled="true" defaultProvider="ClientRoleProvider">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
  <applicationSettings>
    <myPword.pWordSettings>
      <setting name="version" serializeAs="String">
        <value>0_0_6B</value>
      </setting>
    </myPword.pWordSettings>
  </applicationSettings>
  <userSettings>
    <myPword.pWordSettings>
      <setting name="TreeBackground" serializeAs="String">
        <value>Window</value>
      </setting>
      <setting name="SelectedNodeBackground" serializeAs="String">
        <value>120, 70, 50</value>
      </setting>
      <setting name="SelectedNodeForeground" serializeAs="String">
        <value>Beige</value>
      </setting>
      <setting name="TreeviewBackground" serializeAs="String">
        <value>ControlLightLight</value>
      </setting>
      <setting name="TreeviewForeground" serializeAs="String">
        <value>ControlText</value>
      </setting>
      <setting name="ValueTextViewer" serializeAs="String">
        <value>Info</value>
      </setting>
      <setting name="TreeViewLinesVisible" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="ShowPrefix" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="ShowSuffix" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="RabitHolePrefix" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="RabitHoleSuffix" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="ShowAttributes" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="ShowNamespace" serializeAs="String">
        <value>False</value>
      </setting>
    </myPword.pWordSettings>
  </userSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>