<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <!-- AddItem form configuration values -->
    <add key="txtValue.AcceptsReturn" value="true" />
    <add key="txtValue.AcceptsTab" value="true" />
    <add key="txtValue.AllowDrop" value="true" />
    <add key="txtValue.Enabled" value="true" />
    <add key="txtValue.Multiline" value="true" />
    <add key="txtValue.ScrollBars" value="Both" />
    <add key="txtValue.WordWrap" value="true" />
    
    <!-- Other potential form configuration values -->
    <add key="toolBarButton1.Enabled" value="true" />
    <add key="toolBarButton1.ImageIndex" value="0" />
    <add key="toolBarButton1.Pushed" value="false" />
    <add key="treeView1.Scrollable" value="true" />
    <add key="pWord.Enabled" value="true" />
    <add key="pWord.TopMost" value="false" />
  </appSettings>
</configuration>